@media (min-width: 1080px) {
}



.navbar{
    display: grid;
    min-height: 30px;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 35px;
    background-color: aqua;
    
    

}

.logo{
     display: grid;
     justify-content: start;
}
.logo img{
    display: grid;
    width: 50px;
    height: 50px;
}
a:hover{
    color: red;
    text-decoration: none;
    
}
.links{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 20px;
    
}

.grid_container{
    
    overflow: hidden;

    display: grid;
    background-color:deepskyblue;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 470px 450px 200px 200px ;
    grid-gap: 3px;
    
}

.banner{
    background-color: blue;
    grid-column: 1/-1;
}
.about{
    background-color: brown;
    grid-column: 1/8;

    
}
.picture{
    background-color: blueviolet;
    grid-column: 8/-1;

}
.trailer{
    background-color: chartreuse;
    grid-column: 1/-1;
}
.footer{
    background-color: rgb(0, 138, 138);
    grid-column: 1/-1;
}